name: Deploy frontend to Azure Web App

on:
  push:
    branches:
      - DanielDev
  workflow_dispatch:

env:
  AZURE_WEBAPP_NAME: timetrackerFDFrontend

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: .
